In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.0.3'

In [3]:
data = pd.read_csv(r"C:\Users\HP\Desktop\data_talks\data.csv")
data.sample()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
2138,Microsoft Surface Pro X Microsoft SQ1/8 GB/256...,Refurbished,Microsoft,Surface Pro,Microsoft SQ1,8,256,SSD,NaN,13.0,Yes,1299.0

In [4]:
"""
Q2. Records count
How many records are in the dataset?
"""

data.shape[0]

2160

In [5]:
"""
Q3. Laptop brands
How many laptop brands are presented in the dataset?
"""

data['Brand'].nunique()

27

In [6]:
"""
Q4. Missing values
How many columns in the dataset have missing values?
"""
data.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [7]:
"""
Q5. Maximum final price
What's the maximum final price of Dell notebooks in the dataset?
"""
data[data['Brand']=="Dell"]['Final Price'].max()

3936.0

In [8]:
"""
Q6. Median value of Screen
Find the median value of Screen column in the dataset.
Next, calculate the most frequent value of the same Screen column.
Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
Now, calculate the median value of Screen once again.
Has it changed?

Hint: refer to existing mode and median functions to complete the task.

Yes
No
"""

data['Screen'].median()

15.6

In [9]:
screen_mode=data['Screen'].mode()
data['Screen'] = data['Screen'].fillna(screen_mode)
data['Screen'].median()

15.6

In [10]:
question= """
7. Sum of weights
Select all the "Innjoo" laptops from the dataset.
Select only columns RAM, Storage, Screen.
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Compute the inverse of XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the sum of all the elements of the result?
Note: You just implemented linear regression. We'll talk about it in the next lesson.

0.43
45.29
45.58
91.30
"""
print(question)

7. Sum of weights
Select all the "Innjoo" laptops from the dataset.
Select only columns RAM, Storage, Screen.
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Compute the inverse of XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the sum of all the elements of the result?
Note: You just implemented linear regression. We'll talk about it in the next lesson.

0.43
45.29
45.58
91.30

In [11]:
X = data[data['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']].values

XTX = X.T.dot(X)

XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [12]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])
w = (XTX_inv @ X.T) @ y

In [13]:
w.sum()

91.29988062995542